<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <servlet>
        <display-name>HttpReturnCodesMock</display-name>
        <servlet-name>HttpReturnCodesMock</servlet-name>
        <servlet-class>de.otto.http.mock.ReturnCodeMockServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HttpReturnCodesMock</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>